$peach: #FFC785;
$lavendar: #7189BF;
$seafoam: #72D6C9;
$pink: #DF7599;
$brown: #545149;

main {
  margin: auto;
  width: 100%;
}

.intro {
  display:flex;
  align-items: center;
  justify-content: center;
}

.story-parent {
  display: flex;
  flex-direction: row;
  //border: 2px solid $seafoam;
}

.story-image {
  width: 150px;
}
.left-section {
  margin-right: 10px;
}

// .left-side {
//   border: 2px solid $pink;
// }
.right-side {
  width: 100%;
}

//overwrite normalize file by making all h1's from the .right-side parent have 0 margins
.right-side > h1 {
  margin: 0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.btn {
  display:flex;
  justify-content: center;
  background-color: $seafoam;
  transition-duration: 0.4s;
  border-radius: 12px;
  &:hover {
    cursor: pointer;
    background-color: $pink;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
}

.btn-success {
  display: none;
}

h1 {
  color: $pink;
}

.story-text {
  font-family: 'Walter Turncoat';
}

.contribution-parent {
  display: flex;
  flex-direction: row;
}

.left-avatar-name-suggestion {
  display:flex;
  flex-direction: row;
  border: 2px solid $pink;
}

#avatar {
  width: 80px;
  height: 80px;
}

.right-button-votes {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.fas {
  margin-left: 10px;
}

i {
  color: $lavendar;
    &:hover {
    cursor: pointer;
    color: $pink;
  }
  span {
    color: $brown;
  }
}

#contribution-text {
  display:flex;
  align-items: flex-end;
  outline: none;
  border: solid 1px grey;
  background: transparent;
  font-family: 'Walter Turncoat';
  resize: none;
  width: 100%;
  &:hover {
    box-shadow: 0 5px 10px
    0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
  }

.counter {
  float: right;
  color: $pink;
}

.add-contribution-button {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  word-break: break-all;
}
