$peach: #FFC785;
$lavendar: #7189BF;
$seafoam: #72D6C9;
$pink: #DF7599;

main {
  margin: auto;
  width: 100%;
}

.intro {
  display:flex;
  align-items: center;
  justify-content: center;
}

.posted-stories {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.img-status {
  display:flex;
  flex-direction: column;
}

.story-image {
  border: solid 2px $lavendar;
  width: 80px;
  height: 107px;
}

.story-text-button {
  display:flex;
  flex-direction: column;
}

h1 {
  margin-left: 0.3em;
  margin-top: -0.2em;
  margin-bottom: 0;
  color: $pink;
}

.story-text {
  margin-left: 0.5em;
  width: 100%;
  font-family: 'Delius Swash Caps';
}

.button {
  display:flex;
  justify-content: center;
  background-color: $seafoam;
  transition-duration: 0.4s;
  border-radius: 12px;
  &:hover {
    cursor: pointer;
    background-color: $pink;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
}

.contributions {
  display:flex;
  flex-direction: column;
  width: 100%;
}
// .contribution-button-counter {

// }

#contribution-text {
  display:flex;
  align-items: flex-end;
  outline: none;
  border: solid 1px grey;
  background: transparent;
  resize: none;
  width: 100%;
  &:hover {
    box-shadow: 0 5px 10px
    0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
  }

.previous-contributions {
  border: 1px solid $pink;
    button {
      float: right;
      margin: 5px 5px;
    }
}

#avatar {
  width: 5%;
  padding: 5px 5px;
}
.counter {
  float: right;
  color: $pink;
}

i {
  color: $lavendar;
  float: right;
    &:hover {
    cursor: pointer;
    color: $pink;
  }
}

#contributions-container {
  float: right;
}

/* word-break: break-all; */
