$peach: #FFC785;
$lavendar: #7189BF;
$seafoam: #72D6C9;
$pink: #DF7599;

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 1.5em;
  height: 150px;
  background-color: $lavendar;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  z-index: 100;
}

.story-creator {
  font-family: "Permanent Marker";
  font-size: 3em;
  color: $peach;
}

#nav-icon-title {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  height: 80%;
}

#books-id {
  margin-right: 0.5em;
}

#login-button{
  background-color: $seafoam;
  transition-duration: 0.4s;
  border-radius: 12px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  margin-top: 1em;
 }
 #login-button:hover {
  cursor: pointer;
  background-color: $pink;
  box-shadow: 0 12px 16px 0 $pink;
 }
